{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'app_general/css/w3/w3.css' %}">
    <link rel="stylesheet" href="{% static 'app_general/css/custom.css' %}">
    <title>{{title}}</title>
</head>
<body>
    <!-- include Navigation bar  -->
    {% include 'app_general/components/header.html' %}

        <!-- Block Ceontent  -->
        <div style="margin-top: 45px;">
            {% block main-content %} {% endblock %}
        </div>



    <script src="{% static 'app_general/js/app.js' %}"></script>
</body>
</html>